.home {
    width: 100%;
    height: calc(100vh - 35px);
    display: flex;
    align-items: center;
    flex-direction: row;
    section {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    section:nth-child(1) {
        justify-content: space-between;
        height: calc(100% - 40px);
        width: calc(50% - 80px);
        padding: 0px 40px 40px 40px;
    }
    section:nth-child(2) {
        width: 50%;
        background-color: #2f57e7;
    }
}

.time {
    margin-top: 40px;
    font-size: 25px;
    color: var(--text-gray);
    font-family: 'Pretendard';
}

.money {
    font-size: 60px;
    color: var(--text-black);
    font-weight: bold;
    font-family: 'Roboto';
}




.timerStartButton {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Pretendard';
    color: #fff;
    border: 0px;
    background-color: #21242b;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 4px solid #283d6f46;
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
        outline: 5px solid #283d6f46;
        box-shadow: 1px 5px 10px #283d6f7f;
    }
    svg {
        margin-right: 10px;
    }
}

.timerPauseButton {
    width: 120px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    font-family: 'Pretendard';
    color: #000;
    border: 1px solid #bdbdbd;
    box-shadow: var(--box-shadow);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s;

    svg {
        margin-right: 10px;
    }
}